@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
h6{
    color: #3f3f3f;
    margin: 5px;
}
ul {
    text-decoration: none;
}

li {
    text-decoration: none;
}

body {
    background: #f0f0f0;

}

header {
    width: 100%;
    margin: 0 auto;
    color: #1c1c1c;
    background: #fff;
    border-bottom: yellow solid 1.5px;
    top: 0;
    margin-bottom: 80px;
    position: fixed;
    z-index: 3;
}


header .nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #1c1c1c 35%;
}

header .nav-bar .menu-list {
    display: flex;
    padding: 15px;
    margin: 10px;

}

header .nav-bar .clk {
    display: none;
}

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header .logo span {
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 1px;
}

header .logo span b {
    font-size: 18px;
}

input {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

.menu ul,
li {
    display: flex;
    text-decoration: none;
    letter-spacing: 1.5px;
    justify-content: space-evenly;
    gap: 10px;
    color: #000;
}

.menu ul .brands {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.menu ul .brands a {
    margin: 0 auto;
    width: 100%;
    transition: all .5s ease;
}

.menu ul .brands a:hover {
    transform: scale(1.3);
    filter: blur(55%);
    color:darkcyan;
}
.menu .menu-ul .menu__item a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    height: 100%;
    line-height: normal;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);

}

.menu .menu-ul .menu__item a::after {
    content: "";
    display: block;
    background: darkcyan;
    width: 90%;
    margin-top: 3px;
    height: 2px;
    clip-path: var(--clippy);
    transition: .2s ease;
}

.menu .menu-ul .menu__item a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
    color: rgb(15, 15, 15);
}
/* ↓↓↓ Hero ↓↓↓ */

.hero-container .hero__bkground {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background-image: url(/assets/img/herobkgrnd1.png);
    background-position: calc(20%);
    margin-top: 20px;
    position: relative;
}

.hero-container p {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 700;
    top: 150px;
    gap: 40px;
    color: yellow;
    z-index: 1;
    position: absolute;
    background: #1c1c1c;
    padding: 20px;
    opacity: 60%;
    border-radius: 2px;
    text-transform: uppercase;
}

/* ↓↓↓ productos ↓↓↓ */


.productos {
    max-width: 1100px;
    margin: 0 auto;
}

.titulo-sec {
    margin: 25px;
}

.products-items {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    padding: 15px;

}

.products-items .item {
    width: 250px;
    border-radius: 3px;
    box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.29);
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.products-items .item p,
h4 {
    padding: 10px;
}

.products-items .item hr {
    width: 90%;
    margin: 0 auto;
}
.products-items .item .contenedor-img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


.products-items .item .contenedor-img img {
    /* width: 250px;
    height: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: all ease-in-out 0.9s;
    overscroll-behavior-block:contain ;
}

.products-items .item img:hover {
    transform:scaleY(1.05);
    transition: all ease-in-out 0.5s;
    opacity: 95%;

}

.products-items .item p {
    color: #3f3f3f;
    line-height: 1.5;
    letter-spacing: 1px;
}

.products-items .item p span {
    color: darkcyan;
    font-weight: 700;
}

.products-items .item h4 {
    margin-top: 25px;
}

.add-cart{
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #3f3f3f;
    color: #f0f0f0;
    font-weight: 700;
}
.bkgrnd-section {
    /* max-width: 1200px; */
    min-height: 240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #1d1d1d;
    background-size: cover;
}
.section-title {
    width: 100%;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 8px;
    color: #fff;
}

.section-title h1 {
    width: 100%;
    padding-bottom: 10px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


.about-section {
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
}

.about-section .bkgrnd-about {
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    background-image: url(/assets/img/gin_cup_1024x1024.jpg);
    background-size:inherit;
    background-position: 100%;
    background-repeat: no-repeat;
    gap: 10px;
    margin-bottom: 15px;
    opacity: 95%;

}

.about-section p {
    width: 100%;
    font-size: 12px;
    color: #000;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-left: 0;
    text-transform: uppercase;
}


.brand-section {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-bottom: 25px;
}

.brand-section a img {
    width: 200px;
    height: 142px;
}
.slider{
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.slider .slide-track {
    display: flex;
    align-items: center;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px *26);
}

.slider .slide img{
    width: 280px;
    height: 140px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform:translatex(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 13));
        transform:  translateX(calc(-200px * 13));
    }
}

/* --------------------------FORM-------------------------------------- */
.form__container{
    max-width: 1100px;
    margin: 65px auto;
    width:100% ;
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-gap:50px;
    justify-items: center;
}

.form__container h2{
    margin-bottom: 15px;
    font-size: 35px;
    font-weight: 700;

}

.form__container h3{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;

}

.form__container p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 15px;
   
}

.form__container a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #000;
    font-weight: 700;
}
.form__container a i{
    color: #1c1c1c;
    margin-right: 10px;
}
.form__container form .campo, text, .btn-enviar {
    display: flex;
}
.form__container form .campo, textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid darkcyan;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
/* .form__container form  textarea{
    max-width: 530px;
    min-width: 300px;
    min-height: 140px;
    max-height: 150px;
}  */

.form__container form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: none;
    border: solid 1px #21a385;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;

}
.form__container form .btn-enviar:hover{
    background: darkcyan;
    color: #eFeFeF;
}

form{
    background:#deeeeb;
    padding: 20px;
    border-radius: 4px;
}


.footer {
    /*  max-width: 1200px; */
     margin: 0 auto;
     width: 100%;
    /*  background-image: url(/assets/img/footerBK.png); */
    /* background: #e1e0e0f9; */
    background: #fff;
    border-top: solid 1px yellow;
 }
 
 .footer .grupo-1 {
     max-width: 1200px;
     width: 100%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 50px;
     padding: 45px 0px;
     justify-items: center;
 }
 
 .footer .grupo-1 .box figure {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .footer .grupo-1 .box figure img {
     width: 250px;
     border-radius: 50%;
 }
 
 .footer .grupo-1 .box h2 {
     color: #4b4b4b;
     margin-bottom: 25px;
     font-size: 20px;
     display: flex;
     justify-content: center;
 }
 
 .footer .grupo-1 .box P {
     color: #4b4b4b;
     margin-bottom: 10px;
 }
 
 .footer .grupo-1 .box .footer__contacto {
     color:#4b4b4b;
     margin-bottom: 10px;
     display: grid;
     justify-content: flex-start;
 }
 
 .footer .grupo-1 .box .footer__contacto a i {
     max-width: 300px;
     color: #4b4b4b;
     cursor: pointer;
     padding-bottom: 10px;
 }
 
 .footer .grupo-1 .box .redes a {
     display: inline-block;
     text-decoration: none;
     width: 55px;
     height: 55px;
     line-height: 45px;
     color: #4b4b4b;
     margin-right: 10px;
     background-color: transparent;
     text-align: center;
     transition: all 300ms ease;
 }
 
 .footer .grupo-1 .box .info__contacto {
     margin: 0 auto;
     display: block;
     column-gap: 5px;
     justify-content: center;
     align-items: center;
     color: #4b4b4b;
     margin-bottom: 5px;
     margin-left: 5px;
 
 }
 
 .footer .grupo-1 .box .redes :hover {
     color: darkcyan;
 }
 
 .footer .grupo-2 {
     color: #3f3f3f;
     padding: 15px 10px;
     text-align: center;
 }
 
 .footer .grupo-2 small {
     font-size: 15px;
 }
 
 .footer .grupo-1 iframe {
     width: 300px;
     height: 250px;
 }